<!DOCTYPE html>
<html>
<head>
    <title>OpenChat</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>OpenChat</h1>
        <div class="buttons">
            <a href="{{ url_for('logout') }}">Exit</a>
        </div>
    </header>

    <div id="chat-container">
        <div id="chat-messages">
            {% for message in messages %}
            <div class="message-container">
                <span class="message-author">{{ message.author }}:</span>
                <span class="message-text">{{ message.text }}</span>
                <span class="message-timestamp">{{ message.timestamp.strftime('%H:%M:%S') }}</span>
            </div>
            {% endfor %}
        </div>

        <form onsubmit="sendMessage(); return false;">
            <input type="text" id="messageInput" name="text" placeholder="Введите сообщение" autocomplete="off">
            <button type="submit">Отправить</button>
        </form>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
        <script type="text/javascript">
            var socket = io.connect('http://' + document.domain + ':' + location.port);
            // Функция, которая будет прокручивать чат в самый низ
            function scrollChatToBottom() {
                var chatMessages = document.getElementById('chat-messages');
                chatMessages.scrollTop = chatMessages.scrollHeight;
            }

            socket.on('connect', function() {
                console.log('Connected to server');
            });

            socket.on('new_message', function(data) {
                // Обновите чат, чтобы отобразить новое сообщение
                var messageText = data.text;
                var messageAuthor = data.author;

                // Создайте новый элемент для сообщения и добавьте его в чат
                var messageContainer = document.createElement('div');
                messageContainer.classList.add('message-container');

                var authorSpan = document.createElement('span');
                authorSpan.classList.add('message-author');
                authorSpan.textContent = messageAuthor + ': ';

                var textSpan = document.createElement('span');
                textSpan.classList.add('message-text');
                textSpan.textContent = messageText;

                var timestampSpan = document.createElement('span');
                timestampSpan.classList.add('message-timestamp');
                var now = new Date();
                timestampSpan.textContent = now.getHours() + ':' + now.getMinutes() + ':' + now.getSeconds();

                messageContainer.appendChild(authorSpan);
                messageContainer.appendChild(textSpan);
                messageContainer.appendChild(timestampSpan);

                var chatMessages = document.getElementById('chat-messages');
                chatMessages.appendChild(messageContainer);
                scrollChatToBottom();
            });

            // Вызываем функцию прокрутки при загрузке страницы
            window.onload = function() {
                scrollChatToBottom();
            };

            function sendMessage() {
                var message = document.getElementById('messageInput').value;
                var author = "{{ current_user.username }}";  // Получите имя текущего пользователя
                socket.emit('send_message', {'text': message, 'author': author});
                document.getElementById('messageInput').value = '';
            }
        </script>
    </div>
    <footer>
        <p class="footer">© 2023 OpenChat. Все права защищены.</p>
    </footer>
</body>
</html>
